<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- [START standard_mappings] -->
    <!--Restlet mappings-->
    <servlet>
        <servlet-name>RestletServlet</servlet-name>
        <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
        <init-param>
            <param-name>org.restlet.application</param-name>
            <param-value>com.atse.group6.team10.AttendanceApplication</param-value>
        </init-param>
    </servlet>
    <!-- Serve /rest/ path -->
    <servlet-mapping>
        <servlet-name>RestletServlet</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

<!-- [START standard_mappings] -->
    <servlet>
      <servlet-name>registration</servlet-name>
      <servlet-class>com.atse.group6.team10.controller.RegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
      <servlet-name>registration</servlet-name>
      <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/unregister</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>groupListView.jsp</welcome-file>
    </welcome-file-list>
<!-- [END standard_mappings] -->

<!-- [START Objectify] -->
    <filter>
      <filter-name>ObjectifyFilter</filter-name>
      <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>ObjectifyFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
      <listener-class>com.atse.group6.team10.controller.OfyHelper</listener-class>
    </listener>
<!-- [END Objectify] -->
</web-app>
